<br></br>
<strong>Listado de Restaurantes</strong>
<br></br>
<table border ='1'>
<tr align='center'>
 <td> Nombre </td>
 <td> Dirección </td>
 <td> Longitud </td>
 <td> Latitud </td>
</tr>
<% @restaurantes.each do |rest| %>
<tr>
 <td><%= rest.nombre %> </td>
 <td> <%= rest.direccion  %></td>
 <td> <%= rest.lat  %></td>
 <td> <%= rest.lng  %></td>
</tr>
<% end %>
</table>
<br></br>
<%= link_to 'Back', rests_path %>